*{
	padding: 0px;
	margin: 0px;
}

.container{
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: white;
}



.content{
    width: 80%;
    height: 80%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "section1 section1 section2"
    "section3 section4 section2"
    "section5 section5 section5";
    
    
}

.section1{
    grid-area: section1;
    display: flex;
    justify-content: flex-start;

}
.section1 img{
    width: 90%;
    height: 100%;
}



.section2{
    background-color:hsl(240, 100%, 5%);
    grid-area: section2;
    
}

.section2 p, h2{
    color: hsl(36, 100%, 99%);
}

.section2 h1{
    color: hsl(35, 77%, 62%);
}

button{
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: 0px;
    padding: 15px;
}

.section3{
    grid-area: section3;
    padding: 20px;
}

.section4{
    grid-area: section4;
    padding: 20px;
}

.section5{
    grid-area: section5;
    display: flex;
    justify-content: space-between;
    gap: 5px
}

.section5 h1{
    color: hsl(233, 8%, 79%);
}
.section5 h2{
    color: hsl(240, 100%, 5%);
}

