*{
	padding: 0px;
	margin: 0px;
}
@font-face {
    font-family: myFirstFont;
    src: url(https://fonts.google.com/specimen/Inter);
  }
  
.container{
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: white;
}

p{
    font-size: 15px;
}

.image1>img{
    height:120px
}


.content{
    width: 80%;
    height: 80%;
    gap: 20px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "section1 section1 section2"
    "section3 section4 section2"
    "section5 section5 section5";
    
    
}

nav{
    text-align: right;
    background-color: white;
    width: 100%;
    display:flex;
}

nav ul{

    margin:0;
    padding:0;
    list-style: none;
}



.section1{
    grid-area: section1;
    display: flex;
    justify-content: flex-start;

}
.section1 img{
    width: 100%;
    height: 100%;
}



.section2{
    background-color:hsl(240, 100%, 5%);
    grid-area: section2;
    padding: 5%;
      
}

.hydro{
    padding-top: 5%;
}

.section2 p, h2{
    color: hsl(36, 100%, 99%);
}

.section2 h1{
    color: hsl(35, 77%, 62%);
}

button{
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: 0px;
    padding: 15px;
    margin-top: 5%;
}

.section3{
    grid-area: section3;
    padding: 20px;
    font-family: myFirstFont;
}

.section4{
    grid-area: section4;
    padding: 20px;
}

.section5{
    grid-area: section5;
    display: flex;
    justify-content: space-between;
    gap: 5px
}

.section5 h1{
    color: hsl(233, 8%, 79%);
}
.section5 h2{
    color: hsl(240, 100%, 5%);
}

